<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="/tmp/internal-nlog.txt">

  <targets>
    <target name="error-async" type="AsyncWrapper" overflowAction="Grow" queueLimit="20000" batchSize="200" timeToSleepBetweenBatches="50">
      <target name="error" type="File" fileName="..\logs\console\error-${shortdate}-${guid:cached=true}.json" archiveFileName="..\logs\console\archive\error-${shortdate}-${guid:cached=true}-{#}.json" archiveAboveSize="30485760" archiveNumbering="Rolling" maxArchiveFiles="2" keepFileOpen="true" autoFlush="false" openFileFlushTimeout="10" openFileCacheTimeout="30" concurrentWrites="false">
        <layout type="JsonLayout" includeAllProperties="false" renderEmptyObject="true">
          <attribute name="time" layout="${date:universalTime=true:format=o}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="exception" layout="${exception:format=toString,data}" />
          <attribute name="exception_type" layout="${exception:format=type}" />
          <attribute name="exception_message" layout="${exception:format=message}" />
        </layout>
      </target>
    </target>
    <target name="warning-async" type="AsyncWrapper" overflowAction="Discard" queueLimit="20000" batchSize="200" timeToSleepBetweenBatches="50">
      <target name="warning" type="File" fileName="..\logs\console\warning\${shortdate}-${guid:cached=true}.json" archiveFileName="..\logs\console\archive\warning\${shortdate}-${guid:cached=true}-{#}.json" archiveAboveSize="30485760" archiveNumbering="Rolling" maxArchiveFiles="2" keepFileOpen="true" autoFlush="false" openFileFlushTimeout="10" openFileCacheTimeout="30" concurrentWrites="false">
        <layout type="JsonLayout" includeAllProperties="false" renderEmptyObject="true">
          <attribute name="time" layout="${date:universalTime=true:format=o}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="exception" layout="${exception:format=toString,data}" />
          <attribute name="exception_type" layout="${exception:format=type}" />
          <attribute name="exception_message" layout="${exception:format=message}" />
        </layout>
      </target>
    </target>
    <target name="info-async" type="AsyncWrapper" overflowAction="Discard" queueLimit="20000" batchSize="200" timeToSleepBetweenBatches="50">
      <target name="info" type="File" fileName="..\logs\console\info\warnings-${shortdate}-${guid:cached=true}.json" archiveFileName="..\logs\console\archive\info\${shortdate}-${guid:cached=true}-{#}.json" archiveAboveSize="30485760" archiveNumbering="Rolling" maxArchiveFiles="2" keepFileOpen="true" autoFlush="false" openFileFlushTimeout="10" openFileCacheTimeout="30" concurrentWrites="false">
        <layout type="JsonLayout" includeAllProperties="false" renderEmptyObject="true">
          <attribute name="time" layout="${date:universalTime=true:format=o}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="exception" layout="${exception:format=toString,data}" />
          <attribute name="exception_type" layout="${exception:format=type}" />
          <attribute name="exception_message" layout="${exception:format=message}" />
        </layout>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="errors" level="Error" writeTo="error-async" />
    <logger name="warnings" writeTo="warning-async" />
    <logger name="info" level="Info" writeTo="info-async" />
  </rules>
</nlog>